/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}




/* Cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
}

header .logo {
  margin-left: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* Seções */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
}

h2 {
  color: #333;
}

/* Filmes em cartaz */
.filmes {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.filme {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
  max-width: 220px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.filme img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.filme:hover {
  transform: scale(1.05);
}

/* Promoções */
#promocoes {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.promo p {
  font-size: 1.2em;
  color: #333;
}

/*footer*/

.footer{
  max-width: 1170px;
  margin:auto;
  box-shadow: 0px 4px 8px rgba(8, 8, 8, 0.76);
  background: #f2f2f2;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: rgb(151, 33, 33);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: none ;
  color: #0a0a0a;
  text-decoration: none;
  font-weight: 300;

  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #0a0a0a;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #727171  ;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0a0a0a;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #0a0a0a;
  background-color: gray;
}
